parameters:
	messages:
		- 'Dneska toho tlaku na mý závity už bylo dost! Páky mi tu už nějakou chvíli pláčou, tak doufám že je %s utěší a hezky je pohladí. A mě vem pořádně jako vždycky – vždyť víš, jak to mám rád. :heart:'
		- 'Tak už zas odbilo čtyřikrát na kostele a já už vyhlížím svého oblíbence %s. Pojď mi věnovat pár minut toho tvýho skvělýho drbání, ať jsem na zítra zase nablýskanej. :star2:'
		- '137! Jo, tolik jste na mě dneska protočili káv, a to nepočítám ty vaše double shoty! Takže si zasloužím pár minut pořádnýho relaxu. A kdo jiný než ty %s by to zvládl dneska líp?'
		- 'Sakra práca, to už jsou zase čtyři? To to uteklo. Tak pojď %s – bude čistěníčko čištění!' 
		- 'Vidím, že je to se mnou dneska už velký špatný! Tak nepřepínejte kanál a a pošlete za mnou hned %s!'
		- 'Nikdy nikdo ho neviděl, nikdo neví, odkud pochází a říká se, že jeho nadpřirozené schopnosti při čištění předčí i takovou personu, jako je Ms.Proper. Ne, není to Stig, ale %s. Tak tu legendu za mnou pošlete!'
		- 'Dneska se paří. Faktor pařby je pět. Oh Yeah! Tak pojď zapařit %s!'
		- 'Už jsem z toho trochu nervózní. %s přede mnou právě zmuchlal šálek a hodil ho do odpadků. Pak odešel. A to nemyslím polystyrénový, ale plechový! V čem si teď budete šlehat mlíko? Pošlete ho zpátky, ať to dá zas všechno do pucu!'
		- 'Teda %s, co měla včera znamenat ta rychlovka? Tak dneska si dáš pěkně záležet. A pěkně si to rozfázuj, vždyť to znáš –  mydlit, umýt, spláchnout a mydlit, umýt, spláááchnout!'
		- 'Čeče, %s, včera jsi mi popravdě dal dost do těla. Dneska to neber tak zhurta. A nezapomeň mě na závěr pohladit!'
		- 'Tak si říkám, jestli si mě ještě pořád vážíte... Sice mě každý den vyčistíte, ale že by někdo přišel, prohodil nějaké to pěkné slůvko a pohladil mě, to ne. Zkusím asi zas na sebe strhnout pozornost a ucpat odpadní hadici. :face_with_hand_over_mouth: Ale ještě předtím pošlete %s, třeba to za vás vyžehlí.'
		- 'Už ve výrobě mi říkali – budeš se mít jako v pohádce, každý se na tebe bude usmívat a neustále pomrkávat. No jasně. Kecy, prdy, beďary! Dneska zase šichta jak hrom! Leda že by mě přišel %s rozveselit. Přijdeš?'
		- 'Tenhle uiik je very gud sjůšn. %s mě klínuje jak nikdy nikdo předtím a tipuji, že mi dneska zase pořádně skrůvne trýd.' 
		- 'Hele, nedělej Zagorku %s a dojdi. Chápu, že si hraješ na čistotnou hospodyňku jen kvůli mně, ale zato ti to fakt jde! Tak si pojď dát dneska zas jednu čistící etýdku.' 
		- 'Koukám vpravo, nikdo nikde. Vlevo, taky nic! To je dneska svátek, že na mě tak kašlete? Tak mě přijď aspoň vyčistit %s a ukaž, jaký jsi pracant!' 
		- 'To jsou dneska samý schůzky, parády, ale aby mě přišel někdo trochu povzbudit a zafandit při těch mých výkonech – to ne! Tak aspoň vyčistit, tak šup šup %s.'
		- 'Nechci být nevrlé, ale jsem zaliskané od toho lógru, až je mi stydno. Dondite to ze mě někdo spomývať, ať nésu za místní špindíru. Tož třeba ty %s, jsi přece šikovné chlapčisko!'
		- 'Hele, nevíte, proč na mě dneska ten mlýnek tak blbě čumí? :eyes: Pojďte mě někdo zachránit nenucenou konverzací s hadrem v ruce. Třeba %s. A dělej, že ho neznáme, je dneska fakt dost divnej, tak ať ho ještě víc nedráždíme.'
	fridayMessages:
		- 'Tak máme tady pátek, už se těším až přijde %s. Nezapomeň, že dneska je velké čištění, pořádně vydrhnout a použij chemii. Myslím, že je ve skříňce pod dřezem, tak dej trochu (na špičku nože) do každé nádoby na páku.'
		- 'Hurá, pátek! Přijde za mnou %s? Nezapomeň, že dneska je velká čistka, natáhni gumové rukavice, vem si nějaké tričko, které si můžeš umazat, gumáky a pojď na to.'
		- 'Jejdamane, to už je pátek? Tak to je hustý, to uteklo. %s už jdeš? Dneska si dej záležet, ať tu neležím přes víkend ve špíně. Dneska se dává chemie.'


services:
	-
		class: Pd\CafeBot\Bot
		arguments:
			messageProvider: @Pd\CafeBot\RandomCleanUpMessageProviderFactory::create(@Pd\CafeBot\IDateTimeProvider::getDateTime())

	-
		class: Pd\CafeBot\Command

	-
		class: Pd\CafeBot\Notifier

	-
		class: Pd\CafeBot\Slack
		arguments:
			webHookUrl: %webHookUrl%

	-
		class: Pd\CafeBot\NowDateTimeProvider

	-
		factory: Pd\CafeBot\CsvCleanerProvider
		arguments:
			filePath: %cleanersFilePath%

	-
		factory: Pd\CafeBot\RandomCleanUpMessageProviderFactory
		arguments:
			messages: %messages% 
			fridayMessages: %fridayMessages%
